<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Шашки.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Шашки.Properties.Settings>
            <setting name="Player1" serializeAs="String">
                <value>Игрок 1</value>
            </setting>
            <setting name="Player2" serializeAs="String">
                <value>Игрок 2</value>
            </setting>
            <setting name="Game_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Player1_color" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveGameBeforeExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlaySound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayBackgroundMusic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HardLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HighlightedMove" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Difficult" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveGame" serializeAs="String">
                <value/>
            </setting>
        </Шашки.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
